<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nh.saerok.mapper.BabyMapper">

	<insert id="addBaby" parameterType="Baby">
		insert into baby(nickname, birthday, gender, birth_time, account, profile)
		values(#{nickname}, #{birthday}, #{gender}, #{birth_time}, #{account}, #{profile})
	</insert>
	
	<select id="getBabyNoByAccount" parameterType="String" resultType="int">
		select no from baby where account = #{account}
	</select>
	
	<select id="getBaby" parameterType="String" resultType="Baby">
		select * from baby where no = #{babyno}
	</select>
	
	<select id="getBabyAccount" parameterType="String" resultType="String">
		select account from baby where no = #{babyno}
	</select>	
	
	<select id="listBaby" parameterType="String" resultType="Baby">
		select b.no no, b.nickname nickname, b.birthday, b.gender, b.birth_time, b.account, b.profile from baby b, family f where f.member_id = #{id} and f.baby_no = b.no order by b.no;
	</select>

	<update id="modifyBaby" parameterType="Baby">
		update baby set nickname = #{nickname}, birthday = #{birthday}, gender = #{gender}, 
		birth_time = #{birth_time}, account = #{account}, profile = #{profile} where no=#{no}
	</update>
	
	<delete id="deleteBaby" parameterType="String">
		delete from baby where no = #{babyno}
	</delete>

	<select id="maxId" resultType="String">
		select max(no) from baby
	</select>
</mapper>