<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.nh.saerok.mapper.FamilyMapper">

  <select id="selectAllFamily" resultType="Family">
    select * from family
  </select>

  <select id="selectOneFamily" parameterType="Integer" resultType="Family">
    select * from family where no = #{no}
  </select>
  
  <insert id="createFamily" parameterType="Family">
  	insert into family (member_id, baby_no, relation) values (#{member_id}, #{baby_no}, #{relation}) 
  </insert>
  
  <update id="updateFamily" parameterType="Family">
  	update family set member_id = #{member_id}, baby_no = #{baby_no}, relation = #{relation} where no = #{no}
  
  </update>


<!--  <delete id="delete" parameterType="Integer">
  	update family set status = if(status = 0, 1, 0) where id = #{id}
  </delete> -->

<!--   <select id="login" parameterType="Family">
    select * from family where id = #{id} and password = #password
  </select> -->
</mapper>